/* styling for wrapper_minimal.evo */

body {
  height:100%;
  width:100%;
/*  cursor: none !important; */
}

#minimal {
  background-color:#000;
  height:100%;
  width:100%;
}


/* generic styling */

h1,h2,h3,h4,h5,h6 {padding-top: 1rem}

.huge, .big, .norm, .small, .wee .tiny {
 /*text-align:left; */
 font-weight:normal;
}
.huge {font-size: 1.9rem;}
.big {font-size: 1.4rem;}
.norm {font-size: 1rem;}
.small, .wee {font-size: .7rem;}
.tiny {font-size: .5rem;}


.hilite {
 color:#000;
 background-color:#AFA;
}
.lolite {
 color:#000;
 background-color:#FAA;
}
.light {color:#777;}
.bright {color:#F30;}

/*
.spaced { margin:2rem 0;}

form {
 padding:0.5rem;
}
*/

select, button {
cursor:pointer;
}



/* blockquotes - fix to get around bootstrap requiring specific blockquote class (which doesn't work..) */

.summarytext blockquote{
  padding: .35rem .7rem .07rem .7rem;
  margin-bottom: .7rem;
  font-size: .7rem;
  border-left: .18rem solid #eceeef;
}

blockquote {
  padding: .5rem 1rem .1rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-left: .25rem solid #eceeef;
}

/* tables */
table {
 vertical-align:top;
 border-collapse: collapse;
 margin:.3rem .1rem;
 vertical-align:top;
 text-align: left;
}

th,td {
 border:1px solid #AAA;
 padding:.2rem;
}

.subtle th, .subtle td {
 border: none;
 padding: .2rem .6rem;
}

/* lists */

ul,ol {
margin-bottom: .5rem;
}

ol ol, ol ul, ul ol, ul ul {
margin-top: 0;
margin-bottom: .5rem;
}

ul p, ol p {
margin-bottom: 0;
}

/* images */
img { 
margin: 0;
padding: 0;
border-style:none;
border: none;
}
.image_left,.image_right{
 margin: .3rem;
 display:inline;
 text-align:center;
}
.image_right {
 float:right;
 margin-left: .7rem;
}
.image_left{
 float: left;
 margin-right: .5rem;
}
.image_left img,.image_right img{
 display:inline;
}
.image_center{
 display: block;
 margin:auto;
 text-align:center;
}
.image_left span , .image_right span , .image_center span{
 display:block;
}
.table_thumb{
 height:200px;
}


.text{
 padding-bottom:1rem;
}

/* generated text styles for lib.TEXT() */
/* broken links */
.broken {
 color:#800;
}


/*generic alerts - overrides for bootstrap4 classes*/

.alert-success, .alert-warning, .alert-danger {
border: solid 0.1rem #AAA;
/*padding: 0.2rem*/
}

.alert-success a, .alert-warning a, .alert-danger a {
/*float:right;*/
margin-right:1rem;
font-weight: bold;
/*font-size:1.2rem;*/
}

.alert-success {
color:#000;
background-color: #ddffa1;
/*font-weight:bold;*/
}

.alert-warning {
color:#000;
background-color: #ffe280;
font-weight:bold;
}

.alert-danger {
color: #fffd1e;
background-color: #ff6600;
font-weight:bold;
}



/*********** Page styling *************/ 

#content {
padding: 1rem 0;
}


/*
.page-actions {
background-color: #DDD;
padding: .2rem;
margin:  .2rem 0;
}

#pageoptions .selected a , #pageoptions .selected {
color:#333;
}
*/

/* for small phone screens, remove the float */
/*
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
 #searchform {float:none; padding:0}
}
*/

#next_item {
 float:right;
}

/* rows */
.row {
/*text-align:justify;*/
padding: 0.5rem 0;
}

#tags, #tagedit {
text-align:left;
}

/* summaries */
.summary {
/* text-align:justify;*/
 border-top: 0.1rem solid #DDD;
 padding:1rem 0;
}

.summarytext {
 clear:both;
}
.summarytext {
 font-size:0.7rem;
}
.summarytext h1 {
 font-size: 1.4rem;
}
.summarytext h2 {
 font-size: 1.2rem;
}
.summarytext h3 {
 font-size: 1.1rem;
}
.summarytext h4 {
 font-size: 1.0rem;
}
.summarytext h5 {
 font-size: 0.9rem;
}
.summarytext h6 {
 font-size: 0.8rem;
}


/*
.text{
width: auto !important;
}
*/

/* edit action buttons */
.acts img{
 height:2rem;
}

.footnote {
font-size: 0.8rem;
}

.disabled, .disabled td, .disabled th, .disabled a {
color:#666;
}


/********************** ratings ********************/

#rating {
float:right;
}

#rate a, #rate a:hover{
text-decoration: none;
}

#rate a {
color:#FFF;
}

#rate a.enabled, #rate a.disabled:hover {
color:#444;
}

#rate a.disabled, #rate a.enabled:hover {
color:#CCC;
}

#rate a.rate-down:hover{
color:#F44;
}

#rate a.rate-up:hover{
color:#4F4;
}

#rate {
font-size: 2rem;
}

#next_item img, #prev_item img, .disabled img{
opacity:0.5
}




/******************* user ******************/

#user {
float:right;
 }

#user .username a {
/*background: url('/site/images/system/user.gif') center left no-repeat;*/
background-color:transparent;
 }

#user .logout a {
margin:0 1rem 0 0.4rem; 
font-size: 0.7rem;
 }

